<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <br>
  <br>
  <br>
  <form action="/create/blog" method="post">
    <input type="text" name="title" placeholder="Company Name">
    <input type="text" name="body" placeholder="Your Work Profile">
    <h5>Add your Joining Date</h5>
    <input type="date" name="date" placeholder="Joining Date">
    <br>
    <br>
    <br>
    <input type="submit" value="submit">
  </form>
</body>

</html>