<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/user/logout?crud=DELETE" method="post">
    <input type="submit" value="Log Out">
  </form>
  <br>
  
  <h3>Add details:</h3>
  <br>
  <br>
  <form action="/create/blog" method="post">
  <h6>Company name:</h6>
    <input type="text" name="title" ><br><br>
  <h6>work profile:</h6>  
    <input type="text" name="body" ><br><br>
    <h6>Enter Joining Date</h6>
    <input type="date" name="date" placeholder="Joining Date">
    <br>
    <br>
    <br>
    <input type="submit" value="submit">
  </form>
</body>

</html>