<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>
    <table class="table table-hover">
        <tbody>
            <tr class="table-active">
                <th scope="row">Compan Name: {{data1}} PVT.LTD</th>

            </tr>
            <tr class="table">
                <th scope="row">Employee Name: {{name}} </th>

            </tr>
            <tr class="table">
                <th scope="row">Employee Email: {{email}} </th>

            </tr>
        </tbody>
    </table>
    {{!-- {{data1}} --}}
</body>

</html>