<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <br>
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="lg-button" class="btn btn-warning btn-sm"> <a href="/user/register">Sign up</a> </button>&nbsp;
    <button type="lg button" class="btn btn-warning btn-sm"><a href="/user/login">Sign in</a> </button>
    <div class="btn-group" role="group">
    </div>
  </div>
 
  <div style="position: absolute;right:0px ; ">
    
    <button type="lg button" class="btn btn-warning btn-sm"><a href="/user/dashboard">check company history</a> </button>
  </div>
  <br><br>
  <table >

    <thead>
      <tr>
        <th scope="col"><h6>Companies...</h6> </th>
        </tr>
    </thead>
    {{#each title}}
    
    <tbody>
      
        <td> <a href="/company/details/{{this._id}}"><h6>{{this.title}}</h6></a></td>
    

    </tbody>
  </table>
  {{/each}}

</body>

</html>