<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="index" style="background-color:rgba(0,0,0,0.6);width:100%;height:100vh;padding-left:30px;padding-right:30px;">
    <div style="position:absolute;left:380px;top:200px;height:250px;width:400px;background-color:rgba(0,0,0,0.8)">
      <h5 style="color: yellow;padding-left:100px">Sign In Here</h5>
      <form style="padding-left:80px ;padding-top:10px; action="/user/login" method="post">

        <input type="email" name="email" placeholder="Enter your email"><br><br>
        <input type="password" name="password" placeholder="Enter your password"><br>
        <input style="margin-top: 5px;" type="submit" placeholder="submit">
    
      </form>
    </div>
  </div>
 
  
</body>

</html>